/BrasRobotBTS/nbproject/private/
/BrasRobotBTS/build/
/ModuleBts/nbproject/private/
/ModuleBts/build/
/ModuleBts/dist/
ModuleBts/nbproject/project.properties
ModuleBts/nbproject/genfiles.properties
*.properties
